.keyboard {
    background-color: black;
    color : white;
    padding: 5px;
    text-align:center;
    border-style: solid;
    border-width: 5px;
    margin-right: 250px;
    margin-left: 250px; 
    margin-top: 300px;
    margin-bottom: 300px;
    position: absolute;
}

.body {
    background-color: black;
}

.button {
    margin: 10px;
    width: 70px;
    height: 70px;
    font-size: 16px;
    background: white;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.3s;
    box-shadow: white;
}

.backspace--wide {
    width: 16%;
    height: 100px;
}

.space--extra-wide {
    width: 36%;
    max-width: 500px;
}

.capslock--wide {
    width: 12%;
}

.shift--wide {
    width: 12%;
}

.enter--wide {
    width: 12%;
}